
	<!-- Footer section -->
	<style>
		.footer-section{
			padding-top: 0;
		}
		.more-links{
			padding: 20px 0;
			color: #f0f0f0;
		}
		.links{
			max-width: 1020px;
			margin: auto;
			justify-content: space-between;
		}
		.links a{
			color: #f0f0f0;
			font-size: 18px;
			font-weight: 500;
		}
		.social-links{
			text-align: center;
		}
		.social-links a.instagram:hover i {
			color: #874e4b;
		}
		.social-links a.twitter:hover i {
			color: #5abed6
		}
		.social-links a.facebook:hover i {
			color: #39599f
		}
		.social-links a.linkedin:hover i{
			color: #1597b5;
		}
	</style>
	<section class="footer-section">
		<div class="more-links">
			<div class="container">
				<div class="row links">
					<a href="/how-to-sell"><span>How to Sell on Biirii</span></a>
					<a href="/impact"><span>Impact</span></a>
					<a href="/about-us"><span>About Us</span></a>
					<a href="/contact-us"><span>Contact Us</span></a>
					<a href="/privacy-policy"><span>Privacy Policy</span></a>
				</div>
			</div>
		</div>
		<div class="showonmobile">
			<div>
				
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="linkedin"><i class="fa fa-linkedin"></i><span>linkedIn</span></a>
				</div>

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> 
<p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <span>BIIRII</span></p>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

			</div>
		</div>
	</section>
	<!-- Footer section end -->



	<!--====== Javascripts & Jquery ======-->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.slicknav.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.nicescroll.min.js"></script>
	<script src="/js/jquery.zoom.min.js"></script>
	<script src="/js/jquery-ui.min.js"></script>
	<script src="/js/notyf.min.js"></script>

	<!-- EXTERNAL -->
	<script src="https://cdn.jsdelivr.net/npm/busy-load/dist/app.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>

	<script src="/js/main.js"></script>
	<!-- Navigation js -->
	<script async src="/js/nav.js"></script>
	<script async src="/js/cart.js"></script>
	<script async src="/js/productListFunctions.js"></script>

