	<style type="text/css">
		#top-super-nav-btn:hover {
			text-decoration: underline;
		}
	</style>

	<header class="sticky-top"><!-- should be fixed top -->
		<div class="head-container">
			<div class="row">
			</div>

			<div class="header-container">
				<div class="row container">
					<div class="showonmobile">
						<div class="menu-bar">
							<span class="fa fa-bars"></span>
						</div>
					</div>
					<div class="logo">
						<a href="/store">
							<img src="/img/logo-white.png" alt="Biirii" style="width:60px;">
							<!-- <span>Biirii</span> -->
						</a>
					</div>
	
					<div class="gender-tags hideonmobile">
						<div<% if (superCategory == 'women') { -%> class="active" <% } -%> style="cursor: pointer;" id="top-super-nav-btn">
							<a onclick="window.location.href='/store/women'">Women</a>
						</div>
						<div <% if (superCategory == 'men') { -%> class="active" <% } -%>  style="cursor: pointer;" id="top-super-nav-btn">
							<a onclick="window.location.href='/store/men'">Men</a>
						</div>
					</div>
	
					<div class="search-form">
						<form>
							<input type="text" name="search" placeholder="Search on Biirii" autofocus="true">
							<button class="flaticon-search"></button>
						</form>
						<div class="search-output"></div>
					</div>
	
					<div class="cart" id="cartBasket">
						<a href="/cart">
							<div class="cart-value">
								<i class="flaticon-bag"></i>
								<small><span id="cart-value">0</span></small>
							</div>
							<span class="hideonmobile">Shopping Cart</span>
						</a>
					</div>
				</div>
		
			</div>

			<div class="row navigation">
				<nav>
					<ul class="main-menu">
						<li>
							<a href="/store">Store</a>
						</li>
						<li>
							<a href="/impact">Impact</a>
						</li>
						<li>
							<a href="/about-us">About us</a>
						</li>

						<li>
							<a href="/return-policy">Return Policy</a>
						</li>


					</ul>
				</nav>

				<!-- Navigation tabindex -->
				<div>
					<div class="tab-panel">
						<div data-tabid="sales" class="tab">
							<ul class="sub-menu">
								<li class="_main _tabs">
									<h2><span>Shop sale by product</span></h2>
									<ul>
										<li><a href="#">SALE View all</a></li>
										<li><a href="#">SALE Accessories</a></li>
										<li><a href="#">SALE Activewear</a></li>
										<li><a href="#">SALE Bags</a></li>
										<li><a href="#">SALE Gifts</a></li>
										<li><a href="#">SALE Hoodies & Sweatshirts</a></li>
										<li><a href="#">SALE Jackets & Coats</a></li>
										<li><a href="#">SALE Jeans</a></li>
										<li><a href="#">SALE Jewellery & Watches</a></li>
										<li><a href="#">SALE Jumpers & Cardigans</a></li>
										<li><a href="#">SALE Loungewear</a></li>
										<li><a href="#">SALE New lines added</a></li>
									</ul>
									<ul>
										<li><a href="#">SALE Polo shirts</a></li>
										<li><a href="#">SALE Shirts</a></li>
										<li><a href="#">SALE Shoes & Trainers</a></li>
										<li><a href="#">SALE Shorts</a></li>
										<li><a href="#">SALE Suits & Tailoring</a></li>
										<li><a href="#">SALE Sunglasses</a></li>
										<li><a href="#">SALE Swimwear</a></li>
										<li><a href="#">SALE T-Shirts & Vests</a></li>
										<li><a href="#">SALE Tracksuits</a></li>
										<li><a href="#">SALE Trousers & Chinos</a></li>
										<li><a href="#">SALE Underwear & Socks</a></li>
										<li><a href="#">A-Z of brands</a></li>
									</ul>
								</li>
								<li class="_sub _tabs">
									<h2><span>Shop sale by range</span></h2>
									<ul class="_flex">
										<li class="_range"><a href="#">
											<div><img alt src="img/single-product/4.jpg"></div>
											<span>Plus Size</span>
										</a></li>
										<li class="_range"><a href="#">
											<div><img alt src="img/single-product/2.jpg"></div>
											<span>Tall</span>
										</a></li>
									</ul>
								</li>
								<li class="_sub _tabs">
									<ul>
										<li><a href="#"><img alt src="img/single-product/3.jpg"></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>



				<!-- MOBILE SIDE BAR BELOW -->	

				<!-- Side-bar -->
				<div class="">
					<div class="side-bar">
						<div class="cancel">
							<span class="fa fa-times"></span>
						</div>
						<aside>
							<!-- <div class="_floor">
								<a class="_floor-tag" data-floorId="women">
									<span>Women</span>
								</a>
								<a class="_floor-tag" data-floorId="men">
									<span>Men</span>
								</a>
							</div> -->
							<div class="container-logo">
								<div class="logo-container">
									<img src="/img/logo-black.png" alt="" width="50px">
									<!-- <span>Biirii</span> -->
								</div>
							</div>
							<nav class="panel-container">
								<ul class="_panel-container">
									<li>
										<ul  class="_panel">
											<li>
												<a href="/store">
													<p>Home</p>
													<div>
														<img src="/img/nav/home.jpg" alt="">
													</div>
												</a>
											</li>
										</ul>
									</li>
									<li>
										<ul  class="_panel">
											<li>
												<a>
													<p>
														<span>Sales</span>
														<span class="_info">up to 50% off</span>
													</p>
													<div>
														<img src="/img/nav/sales.jpg" alt="">
													</div>
												</a>
											</li>
											<li class="nav-extend" data-extend="women">
												<a>
													<p>
														<span>Women</span>
													</p>
													<div>
														<img src="/img/nav/women.jpg" alt="">
													</div>
												</a>
											</li>
											<li class="nav-extend" data-extend="men">
												<a>
													<p>
														<span>Men</span>
													</p>
													<div>
														<img src="/img/nav/men.jpg" alt="">
													</div>
												</a>
											</li>
											<li class="nav-extend" data-extend="accessories">
												<a>
													<p>
														<span>Accessories</span>
													</p>
													<div>
														<img src="/img/nav/accessories.jpg" alt="">
													</div>
												</a>
											</li>
											<li>
												<a>
													<p>
														<span>Brands</span>
													</p>
													<div>
														<img src="/img/nav/brands.jpg" alt="">
													</div>
												</a>
											</li>
											<li>
												<a>
													<p>
														<span>Outlet</span>
													</p>
													<div>
														<img src="/img/nav/outlets.jpg" alt="">
													</div>
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
							
							<div class="extend-data" data-extendTab="women">
								<div class="top_nav">
									<div class="back">
										<span class="fa fa-arrow-left">Back</span>
									</div>
									<div class="heading">
										<span>Women</span>
									</div>
								</div>
								<ul  class="_panel">
								<!-- 	<li>
										<a href="/store/women/categories/pants">
											<p>
												<span>Pants</span>
											</p>
											<div>
												<img src="/img/nav/female-pants.jpg" alt="">
											</div>
										</a>
									</li> -->
									<li>
										<a href="/store/women/categories/skirts">
											<p>
												<span>Skirts</span>
											</p>
											<div>
												<img src="/img/nav/skirts.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/women/categories/female-tops">
											<p>
												<span>Top</span>
											</p>
											<div>
												<img src="/img/nav/female-top.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/women/categories/dress">
											<p>
												<span>Dress</span>
											</p>
											<div>
												<img src="/img/nav/dress.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/women/categories/jumpsuits">
											<p>
												<span>Jumpsuits</span>
											</p>
											<div>
												<img src="/img/nav/jumpsuits.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/women/categories/female-shirts">
											<p>
												<span>Shirts</span>
											</p>
											<div>
												<img src="/img/nav/female-shirt.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/women/categories/gowns">
											<p>
												<span>Gowns</span>
											</p>
											<div>
												<img src="/img/nav/gowns.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/women/categories/female-tee-shirts">
											<p>
												<span>Tee Shirts</span>
											</p>
											<div>
												<img src="/img/nav/female-tee-shirts.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/women/categories/blouses">
											<p>
												<span>Blouses</span>
											</p>
											<div>
												<img src="/img/nav/blouse.jpg" alt="">
											</div>
										</a>
									</li>
								</ul>
							</div>

							<div class="extend-data" data-extendTab="men">
								<div class="top_nav">
									<div class="back">
										<span class="fa fa-arrow-left">Back</span>
									</div>
									<div class="heading">
										<span>men</span>
									</div>
								</div>
								<ul  class="_panel">
<!-- 									<li>
										<a href="/store/men/categories/pants">
											<p>
												<span>Pants</span>
											</p>
											<div>
												<img src="/img/nav/male-pants.jpg" alt="">
											</div>
										</a>
									</li> -->
									<li>
										<a href="/store/men/categories/shorts">
											<p>
												<span>Shorts</span>
											</p>
											<div>
												<img src="/img/nav/male-shorts.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/men/categories/male-tops">
											<p>
												<span>Top</span>
											</p>
											<div>
												<img src="/img/nav/male-top.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/men/categories/jackets">
											<p>
												<span>Jackets</span>
											</p>
											<div>
												<img src="/img/nav/jackets.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/men/categories/kaftans">
											<p>
												<span>Kaftans</span>
											</p>
											<div>
												<img src="/img/nav/kaftans.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/men/categories/shirts">
											<p>
												<span>Shirts</span>
											</p>
											<div>
												<img src="/img/nav/male-shirt.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/men/categories/jackets-and-blazers">
											<p>
												<span>Jacket &amp; Blazers</span>
											</p>
											<div>
												<img src="/img/nav/blazers.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/men/categories/male-tee-shirts">
											<p>
												<span>Tee Shirts</span>
											</p>
											<div>
												<img src="/img/nav/male-tee-shirts.jpg" alt="">
											</div>
										</a>
									</li>
								</ul>
							</div>

							<div class="extend-data" data-extendTab="accessories">
								<div class="top_nav">
									<div class="back">
										<span class="fa fa-arrow-left">Back</span>
									</div>
									<div class="heading">
										<span>Accessories</span>
									</div>
								</div>
								<ul  class="_panel">
									<li>
										<a href="/store/accessories/categories/belts">
											<p>
												<span>Belts</span>
											</p>
											<div>
												<img src="/img/nav/belts.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/accessories/categories/*">
											<p>
												<span>Ties</span>
											</p>
											<div>
												<img src="/img/nav/ties.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/accessories/categories/shoes">
											<p>
												<span>Shoes</span>
											</p>
											<div>
												<img src="img/nav/shoes.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/accessories/categories/bags">
											<p>
												<span>Bags</span>
											</p>
											<div>
												<img src="/img/nav/bags.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/accessories/categories/hats">
											<p>
												<span>Caps &amp; Hats</span>
											</p>
											<div>
												<img src="/img/nav/caps.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a href="/store/accessories/categories/socks">
											<p>
												<span>Socks</span>
											</p>
											<div>
												<img src="/img/nav/socks.jpg" alt="">
											</div>
										</a>
									</li>
								</ul>
							</div>

							<footer style="display: none;">
								<div>
									<details>
										<summary>Help &amp; summary</summary>
										<a href="">Help</a>
										<a href="">Track Order</a>
										<a href="">Delivery &amp; Returns</a>
										<a href="">10% Student Discount</a>
									</details>
									<details>
										<summary>About Biirii</summary>
										<a href="">About Us</a>
										<a href="">Careers at Biirii</a>
										<a href="">Corporate Responsibility</a>
										<a href="">Investor Site</a>
									</details>
									<details>
										<summary>More From Biiri</summary>
										<a href="">Mobile and Biirii Apps</a>
										<a href="">Biirii Marketplace</a>
										<a href="">Gift Vouchers</a>
									</details>
								</div>
								<div>
									<
								</div>
							</footer>
						</aside>
					</div>
				</div>
			</div>

		</div>
	</header>
