<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Divisima | eCommerce Template</title>
	<meta charset="UTF-8">
	<meta name="description" content=" Divisima | eCommerce Template">
	<meta name="keywords" content="divisima, eCommerce, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/flaticon.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>
	<link rel="stylesheet" href="css/jquery-ui.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/animate.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<link rel="stylesheet" href="css/main.css"/>
	<link rel="stylesheet" href="css/nav.css"/>


	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header>
		<div class="head-container">
			<div class="row">
			</div>

			<div class="header-container">
				<div class="row container">
					<div class="showonmobile">
						<div class="menu-bar">
							<span class="fa fa-bars"></span>
						</div>
					</div>
					<div class="logo">
						<a href="">
							<img src="img/Logo_white.png" alt="Biirii" style="width: 50px;">
							<span>Biirii</span>
						</a>
					</div>
	
					<div class="gender-tags hideonmobile">
						<div>
							<a>Woman</a>
						</div>
						<div class="active">
							<a>Man</a>
						</div>
					</div>
	
					<div class="search-form">
						<form>
							<input type="text" name="search" placeholder="Search on Biirii" autofocus="true">
							<button class="flaticon-search"></button>
						</form>
						<div class="search-output"></div>
					</div>
	
					<div class="cart">
						<a href="">
							<div class="cart-value">
								<i class="flaticon-bag"></i>
								<span id="cart-value">0</span>
							</div>
							<span class="hideonmobile">Shopping Cart</span>
						</a>
					</div>
				</div>
		
			</div>

			<div class="row navigation">
				<nav>
					<ul class="main-menu">
						<li>
							<a href="#">sales</a>
						</li>
						<li>
							<a href="#">New in</a>
						</li>
						<li>
							<a href="">Clothing</a>
						</li>
						<li>
							<a href="#">Shoes</a>
						</li>
						<li>
							<a href="#">Accessories</a>
						</li>
						<li>
							<a href="#">Activewear</a>
						</li>
						<li>
							<a href="#">Face + Body</a>
						</li>
						<li>
							<a href="#">Brands</a>
						</li>
						<li>
							<a href="#">Outlet</a>
						</li>
						<li>
							<a href="#">Marketplace</a>
						</li>
						<li>
							<a href="#">Inspiration</a>
						</li>
						<li><a href="#">Jewelry
							<span class="new">New</span>
						</a></li>
					</ul>
				</nav>
				<!-- Navigation tabindex -->
				<div>
					<div class="tab-panel">
						<div data-tabid="sales" class="tab">
							<ul class="sub-menu">
								<li class="_main _tabs">
									<h2><span>Shop sale by product</span></h2>
									<ul>
										<li><a href="#">SALE View all</a></li>
										<li><a href="#">SALE Accessories</a></li>
										<li><a href="#">SALE Activewear</a></li>
										<li><a href="#">SALE Bags</a></li>
										<li><a href="#">SALE Gifts</a></li>
										<li><a href="#">SALE Hoodies & Sweatshirts</a></li>
										<li><a href="#">SALE Jackets & Coats</a></li>
										<li><a href="#">SALE Jeans</a></li>
										<li><a href="#">SALE Jewellery & Watches</a></li>
										<li><a href="#">SALE Jumpers & Cardigans</a></li>
										<li><a href="#">SALE Loungewear</a></li>
										<li><a href="#">SALE New lines added</a></li>
									</ul>
									<ul>
										<li><a href="#">SALE Polo shirts</a></li>
										<li><a href="#">SALE Shirts</a></li>
										<li><a href="#">SALE Shoes & Trainers</a></li>
										<li><a href="#">SALE Shorts</a></li>
										<li><a href="#">SALE Suits & Tailoring</a></li>
										<li><a href="#">SALE Sunglasses</a></li>
										<li><a href="#">SALE Swimwear</a></li>
										<li><a href="#">SALE T-Shirts & Vests</a></li>
										<li><a href="#">SALE Tracksuits</a></li>
										<li><a href="#">SALE Trousers & Chinos</a></li>
										<li><a href="#">SALE Underwear & Socks</a></li>
										<li><a href="#">A-Z of brands</a></li>
									</ul>
								</li>
								<li class="_sub _tabs">
									<h2><span>Shop sale by range</span></h2>
									<ul class="_flex">
										<li class="_range"><a href="#">
											<div><img alt src="img/single-product/4.jpg"></div>
											<span>Plus Size</span>
										</a></li>
										<li class="_range"><a href="#">
											<div><img alt src="img/single-product/2.jpg"></div>
											<span>Tall</span>
										</a></li>
									</ul>
								</li>
								<li class="_sub _tabs">
									<ul>
										<li><a href="#"><img alt src="img/single-product/3.jpg"></a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Side-bar -->
				<div class="">
					<div class="side-bar">
						<div class="cancel">
							<span class="fa fa-times"></span>
						</div>
						<aside>
							<!-- <div class="_floor">
								<a class="_floor-tag" data-floorId="women">
									<span>Women</span>
								</a>
								<a class="_floor-tag" data-floorId="men">
									<span>Men</span>
								</a>
							</div> -->
							<div class="container-logo">
								<div class="logo-container">
									<img src="img/Logo_black.png" alt="" width="50px">
									<span>Biirii</span>
								</div>
							</div>
							<nav class="panel-container">
								<ul class="_panel-container">
									<li>
										<ul  class="_panel">
											<li>
												<a>
													<p>Home</p>
													<div>
														<img src="img/nav/home.jpg" alt="">
													</div>
												</a>
											</li>
										</ul>
									</li>
									<li>
										<ul  class="_panel">
											<li>
												<a>
													<p>
														<span>Sales</span>
														<span class="_info">up to 50% off</span>
													</p>
													<div>
														<img src="img/nav/sales.jpg" alt="">
													</div>
												</a>
											</li>
											<li class="nav-extend" data-extend="women">
												<a>
													<p>
														<span>Women</span>
													</p>
													<div>
														<img src="img/nav/women.jpg" alt="">
													</div>
												</a>
											</li>
											<li class="nav-extend" data-extend="men">
												<a>
													<p>
														<span>Men</span>
													</p>
													<div>
														<img src="img/nav/men.jpg" alt="">
													</div>
												</a>
											</li>
											<li class="nav-extend" data-extend="accessories">
												<a>
													<p>
														<span>Accessories</span>
													</p>
													<div>
														<img src="img/nav/accessories.jpg" alt="">
													</div>
												</a>
											</li>
											<li>
												<a>
													<p>
														<span>Brands</span>
													</p>
													<div>
														<img src="img/nav/brands.jpg" alt="">
													</div>
												</a>
											</li>
											<li>
												<a>
													<p>
														<span>Outlet</span>
													</p>
													<div>
														<img src="img/nav/outlets.jpg" alt="">
													</div>
												</a>
											</li>
										</ul>
									</li>
								</ul>
							</nav>
							
							<div class="extend-data" data-extendTab="women">
								<div class="top_nav">
									<div class="back">
										<span class="fa fa-arrow-left">Back</span>
									</div>
									<div class="heading">
										<span>Women</span>
									</div>
								</div>
								<ul  class="_panel">
									<li>
										<a>
											<p>
												<span>Pants</span>
											</p>
											<div>
												<img src="img/nav/female-pants.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Skirts</span>
											</p>
											<div>
												<img src="img/nav/skirts.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Top</span>
											</p>
											<div>
												<img src="img/nav/female-top.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Dress</span>
											</p>
											<div>
												<img src="img/nav/dress.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Jumpsuits</span>
											</p>
											<div>
												<img src="img/nav/jumpsuits.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Shirts</span>
											</p>
											<div>
												<img src="img/nav/female-shirt.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Gowns</span>
											</p>
											<div>
												<img src="img/nav/gowns.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Tee Shirts</span>
											</p>
											<div>
												<img src="img/nav/female-tee-shirts.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Blouses</span>
											</p>
											<div>
												<img src="img/nav/blouse.jpg" alt="">
											</div>
										</a>
									</li>
								</ul>
							</div>

							<div class="extend-data" data-extendTab="men">
								<div class="top_nav">
									<div class="back">
										<span class="fa fa-arrow-left">Back</span>
									</div>
									<div class="heading">
										<span>men</span>
									</div>
								</div>
								<ul  class="_panel">
									<li>
										<a>
											<p>
												<span>Pants</span>
											</p>
											<div>
												<img src="img/nav/male-pants.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Shorts</span>
											</p>
											<div>
												<img src="img/nav/male-shorts.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Top</span>
											</p>
											<div>
												<img src="img/nav/male-top.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Jackets</span>
											</p>
											<div>
												<img src="img/nav/jackets.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Kaftans</span>
											</p>
											<div>
												<img src="img/nav/kaftans.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Shirts</span>
											</p>
											<div>
												<img src="img/nav/male-shirt.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Jacket &amp; Blazers</span>
											</p>
											<div>
												<img src="img/nav/blazers.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Tee Shirts</span>
											</p>
											<div>
												<img src="img/nav/male-tee-shirts.jpg" alt="">
											</div>
										</a>
									</li>
								</ul>
							</div>

							<div class="extend-data" data-extendTab="accessories">
								<div class="top_nav">
									<div class="back">
										<span class="fa fa-arrow-left">Back</span>
									</div>
									<div class="heading">
										<span>Accessories</span>
									</div>
								</div>
								<ul  class="_panel">
									<li>
										<a>
											<p>
												<span>Belts</span>
											</p>
											<div>
												<img src="img/nav/belts.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Ties</span>
											</p>
											<div>
												<img src="img/nav/ties.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Shoes</span>
											</p>
											<div>
												<img src="img/nav/shoes.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Bags</span>
											</p>
											<div>
												<img src="img/nav/bags.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Caps &amp; Hats</span>
											</p>
											<div>
												<img src="img/nav/caps.jpg" alt="">
											</div>
										</a>
									</li>
									<li>
										<a>
											<p>
												<span>Socks</span>
											</p>
											<div>
												<img src="img/nav/socks.jpg" alt="">
											</div>
										</a>
									</li>
								</ul>
							</div>

							<footer style="display: none;">
								<div>
									<details>
										<summary>Help &amp; summary</summary>
										<a href="">Help</a>
										<a href="">Track Order</a>
										<a href="">Delivery &amp; Returns</a>
										<a href="">10% Student Discount</a>
									</details>
									<details>
										<summary>About Biirii</summary>
										<a href="">About Us</a>
										<a href="">Careers at Biirii</a>
										<a href="">Corporate Responsibility</a>
										<a href="">Investor Site</a>
									</details>
									<details>
										<summary>More From Biiri</summary>
										<a href="">Mobile and Biirii Apps</a>
										<a href="">Biirii Marketplace</a>
										<a href="">Gift Vouchers</a>
									</details>
								</div>
								<div>
									<
								</div>
							</footer>
						</aside>
					</div>
				</div>
			</div>

		</div>
	</header>
	<!-- Header section end -->


	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="img/bg.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="img/bg-2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->



	<!-- Features section -->
	<section class="features-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="img/icons/1.png" alt="#">
						</div>
						<h2>Fast Secure Payments</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="img/icons/2.png" alt="#">
						</div>
						<h2>Premium Products</h2>
					</div>
				</div>
				<div class="col-md-4 p-0 feature">
					<div class="feature-inner">
						<div class="feature-icon">
							<img src="img/icons/3.png" alt="#">
						</div>
						<h2>Free & fast Delivery</h2>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section end -->


	<!-- letest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>LATEST PRODUCTS</h2>
			</div>
			<div class="product-slider owl-carousel">
				<div class="product-item">
					<div class="pi-pic">
						<img src="./img/product/1.jpg" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>$35,00</h6>
						<p>Flamboyant Pink Top </p>
					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						<div class="tag-new">New</div>
						<img src="./img/product/2.jpg" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>$35,00</h6>
						<p>Black and White Stripes Dress</p>
					</div>
				</div>
				<div class="product-item">
					<div class="pi-pic">
						<img src="./img/product/3.jpg" alt="">
						<div class="pi-links">
							<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>$35,00</h6>
						<p>Flamboyant Pink Top </p>
					</div>
				</div>
				<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/4.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/6.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
			</div>
		</div>
	</section>
	<!-- letest product section end -->



	<!-- Product filter section -->
	<section class="product-filter-section">
		<div class="container">
			<div class="section-title">
				<h2>BROWSE TOP SELLING PRODUCTS</h2>
			</div>
			<ul class="product-filter-menu">
				<li><a href="#">TOPS</a></li>
				<li><a href="#">JUMPSUITS</a></li>
				<li><a href="#">LINGERIE</a></li>
				<li><a href="#">JEANS</a></li>
				<li><a href="#">DRESSES</a></li>
				<li><a href="#">COATS</a></li>
				<li><a href="#">JUMPERS</a></li>
				<li><a href="#">LEGGINGS</a></li>
			</ul>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/5.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<div class="tag-sale">ON SALE</div>
							<img src="./img/product/6.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Black and White Stripes Dress</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/7.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/8.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/9.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/10.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Black and White Stripes Dress</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/11.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/12.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center pt-5">
				<button class="site-btn sb-line sb-dark">LOAD MORE</button>
			</div>
		</div>
	</section>
	<!-- Product filter section end -->


	<!-- Banner section -->
	<section class="banner-section">
		<div class="container">
			<div class="banner set-bg" data-setbg="img/banner-bg.jpg">
				<div class="tag-new">NEW</div>
				<span>New Arrivals</span>
				<h2>STRIPED SHIRTS</h2>
				<a href="#" class="site-btn">SHOP NOW</a>
			</div>
		</div>
	</section>
	<!-- Banner section end  -->


	<!-- Footer section -->
	<section class="footer-section">
		<div class="container">
			<div class="footer-logo text-center">
				<a href="index.html"><img src="./img/logo-light.png" alt=""></a>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>About</h2>
						<p>Donec vitae purus nunc. Morbi faucibus erat sit amet congue mattis. Nullam frin-gilla faucibus urna, id dapibus erat iaculis ut. Integer ac sem.</p>
						<img src="img/cards.png" alt="">
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Questions</h2>
						<ul>
							<li><a href="">About Us</a></li>
							<li><a href="">Track Orders</a></li>
							<li><a href="">Returns</a></li>
							<li><a href="">Jobs</a></li>
							<li><a href="">Shipping</a></li>
							<li><a href="">Blog</a></li>
						</ul>
						<ul>
							<li><a href="">Partners</a></li>
							<li><a href="">Bloggers</a></li>
							<li><a href="">Support</a></li>
							<li><a href="">Terms of Use</a></li>
							<li><a href="">Press</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget about-widget">
						<h2>Questions</h2>
						<div class="fw-latest-post-widget">
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="img/blog-thumbs/1.jpg"></div>
								<div class="lp-content">
									<h6>what shoes to wear</h6>
									<span>Oct 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
							<div class="lp-item">
								<div class="lp-thumb set-bg" data-setbg="img/blog-thumbs/2.jpg"></div>
								<div class="lp-content">
									<h6>trends this year</h6>
									<span>Oct 21, 2018</span>
									<a href="#" class="readmore">Read More</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="footer-widget contact-widget">
						<h2>Questions</h2>
						<div class="con-info">
							<span>C.</span>
							<p>Your Company Ltd </p>
						</div>
						<div class="con-info">
							<span>B.</span>
							<p>1481 Creekside Lane  Avila Beach, CA 93424, P.O. BOX 68 </p>
						</div>
						<div class="con-info">
							<span>T.</span>
							<p>+53 345 7953 32453</p>
						</div>
						<div class="con-info">
							<span>E.</span>
							<p>office@youremail.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
					<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --> 
<p class="text-white text-center mt-5">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

			</div>
		</div>
	</section>
	<!-- Footer section end -->



	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/jquery.zoom.min.js"></script>
	<script src="js/jquery-ui.min.js"></script>
	<script src="js/main.js"></script>
	<!-- Navigation js -->
	<script async src="js/nav.js"></script>

	</body>
</html>
