<!DOCTYPE html>
<html lang="zxx">
<head>
<%include includes/metaMain%>

<style>
    .breadcrumb{
        background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("img/bg-2.jpg");
        background-position: center;
        background-size: cover;
		background-repeat: no-repeat;
		border-radius: 0;
    }

    .breadcrumb h2{
        color: #dddddd;
    }

    h3.heading {
		font-size: 22px;
		margin-bottom: 5px;
    }

    .desc {
        font-size: 18px;
        line-height: 2;
        margin-bottom: 30px;
        text-align: justify;
    }

    .desc p {
        font-size: 18px;
    }

    .desc ul {
        list-style: inside;
    }
</style>
</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<%include includes/header%>
	<!-- Header section end -->


	<!-- Hero section -->
	<!-- <section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="img/bg.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="img/bg-2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section> -->
	<!-- Hero section end -->

	<!-- Index section -->
	<section class="_index">
		<div class="breadcrumb">
			<div class="container">
				<h2>How to Sell</h2>
			</div>
		</div>

		<div class="container">
			<div class="desc">
				<p>BIIRII AFRICA (“BIIRII”) owns and operates a platform that promotes thebeauty and diversity of African fashion and allows African Designers to selltheir beautiful products to our wonderful customers all over the world. Thisplatform is currently provided on the websitewww.biiriiafrica.com. but maybe provided on different websites or applications in the future.</p>
			</div>


			<h3 class="heading">Why sell on Biirii</h3>
			<div class="desc">
                <p>The benefit of establishing sales at Biirii include;</p>
                <ul>
                    <li>At BiiriiAfrica.com we are committed to giving out featured designers an amazing experience while providing them access to our global customer base.</li>
                    <li>You get Access to out Product team with vast experience in insuring the success of your products/brands on our store.</li>
                    <li>When you sell on Biirii, you get access to a wide range of editorial coverage across our website, social media channels, newsletters and other Biirii platforms.</li>
                </ul>
			</div>


            <h3 class="heading">How to sell</h3>
            <div class="desc">
                <p>When you make a sale, you will pay 20% commission to ensure the quality of the products we sell. Biirii Africa carefully curates every brands to ensure we give the best shopping experience to our customers. To start selling your products;</p>
                <ul>
                    <li>You must be selling your own brands/designs.</li>
                    <li>Your product images must be of the best possible standards before they can be listed by the product team. To help you achieve this, a dedicated team will be available to support you.</li>
                    <li>You can start by listing five items, although adding more items increases your chances to sell more.</li>
                    <li>Signing up and listing is free. When you make a sale, we collect a commission of 10-25 percent.</li>
                </ul>
                <p>If you are an African fashion/clothing brand and would like to join the Biirii Africa Community, please contact our Designer support team on <a href="">sell@biiriiafrica.com</a> with details of your Fashion/Clothing brand including your socila media handles, your website address and we will get back to you within 5 working days.</p>
            </div>

		</div>
	</section>
	<!-- Index section end -->


	<!-- Footer component start -->
	<%include includes/footer%>
	<!-- Footer component end -->

	</body>
</html>
