<!DOCTYPE html>
<html lang="zxx">
<head>
<%include includes/metaMain%>
</head>
<body>
	<!-- israel css -->
	<!-- <link rel="stylesheet" href="izz.css"> -->
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
	<!-- style -->
	<style>
		._wrapper {
			height: 40vh;
			position: relative;
		}
		._image-wrapper img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
		.row_content{
			margin-top: 40px;
			margin-bottom: 20px;
		}
	</style>
	<!-- Page Preloder -->
<!-- 	<div id="preloder">
		<div class="loader"></div>
	</div> -->

	<!-- Header section -->
	<%include includes/header%>
	<!-- Header section end -->


	<!-- Hero section -->
	<!-- <section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="img/bg.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="img/bg-2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section> -->
	<!-- Hero section end -->

		<!-- Index section -->
		<section class="_index">
			<div class="_header"></div>
			<div class="_wrapper">
				<div class="_image-wrapper">
					<img src="img/impact/carousel.jpg" alt="">
				</div>
				<div class="_content">
					<div class="_splash">
						<h3>Biirii <span>Impact</span></h3>
						<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->
					</div>
					<!-- <div class="_generic-btns">
						<a href=""><span>Women</span></a>
						<a href=""><span>Men</span></a>
					</div> -->
				</div>
			</div>
		</section>
		<!-- Index section end -->
		<section style="width: 100%; overflow: hidden;">
	
			<div class="container">
			<div class="row row_content" >
				<div class="col-md-6 animated" data-aos="fade-right">
					<span>BIRII IMPACT</span>
					<h2>Impacted Lives</h2>
					<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
					<p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed.</p>
					<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
				</div>
				<div class="col-md-6">
					<img class="img-responsive" src="img/impact/img2.jpg" data-aos="fade-right">
				</div></div>
			</div>
	
	
			<!-- test -->
			<div class="container">
				<div class="row flex-container row_content" >
					<div class="col-md-6">
						<img class="img-responsive" src="img/impact/img1.jpg" data-aos="fade-left" >
					</div>
					<div class="col-md-6"   data-aos="fade-left">
						<span>BIRII IMPACT</span>
						<h2>Impacted Lives</h2>
						<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
						<p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed.</p>
						<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
					</div>
				  </div>
			</div>
				<!-- 2 -->
				<div class="container">
					<div class="row row_content" >
						<div class="col-md-6 animated"  data-aos="fade-right">
							<span>BIRII IMPACT</span>
							<h2>Impacted Lives</h2>
							<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
							<p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed.</p>
							<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
						</div>
						<div class="col-md-6">
							<img class="img-responsive" src="img/impact/img5.jpg" data-aos="fade-right" >
						</div></div>
					</div>
				<!-- 3 -->
				<div class="container">
					<div class="row flex-container row_content" >
						<div class="col-md-6">
							<img class="img-responsive" src="img/impact/img3.jpg" data-aos="fade-left" >
						</div>
						<div class="col-md-6"   data-aos="fade-left">
							<span>BIRII IMPACT</span>
							<h2>Impacted Lives</h2>
							<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
							<p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed.</p>
							<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
						</div>
					  </div>
				</div>
					<!-- 2 -->
					<div class="container">
						<div class="row row_content" >
							<div class="col-md-6 animated"  data-aos="fade-right">
								<span>BIRII IMPACT</span>
								<h2>Impacted Lives</h2>
								<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
								<p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed.</p>
								<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
							</div>
							<div class="col-md-6">
								<img class="img-responsive" src="img/impact/img4.jpg" data-aos="fade-right" >
							</div></div>
						</div>
					<div class="container">
				<div class="row flex-container row_content" >
					<div class="col-md-6">
						<img class="img-responsive" src="img/impact/img8.jpg" data-aos="fade-left" >
					</div>
					<div class="col-md-6"   data-aos="fade-left">
						<span>BIRII IMPACT</span>
						<h2>Impacted Lives</h2>
						<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
						<p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed.</p>
						<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
					</div>
				  </div>
			</div>
				<!-- 2 -->
				<div class="container">
					<div class="row row_content" >
						<div class="col-md-6 animated"  data-aos="fade-right">
							<span>BIRII IMPACT</span>
							<h2>Impacted Lives</h2>
							<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
							<p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed.</p>
							<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
						</div>
						<div class="col-md-6">
							<img class="img-responsive" src="img/impact/img7.jpg" data-aos="fade-right" >
						</div></div>
			<div class="row flex-container row_content" >
							<div class="col-md-6">
								<img class="img-responsive" src="img/impact/img6.jpg" data-aos="fade-left" >
							</div>
							<div class="col-md-6"   data-aos="fade-left">
								<span>BIRII IMPACT</span>
								<h2>Impacted Lives</h2>
								<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
								<p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed.</p>
								<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
							</div>
						  </div>
					</div>
		
		</section>


	<!-- Footer component start -->
	<%include includes/footer%>
	<!-- Footer component end -->

	</body>
	<!-- izz -->
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
		AOS.init({
			offset:200,
			duration:1000
		});
	</script>
</html>
