<!DOCTYPE html>
<html lang="zxx">
<head>
<%include includes/metaMain%>

 <meta name="description" content="Biirii Africa is a world class online fashion store that aims at providing premium and appealing African wears and accessories.">
<!-- Facebook and Twitter integration -->
<meta property="og:title" content="<%=pageTitle %>"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://biiriiafrica.com"/>
<meta property="og:description" content="Biirii Africa is a world class online fashion store that aims at providing premium and appealing African wears and accessories."/>
<meta property="og:image" content="https://biiriiafrica.com/apple-touch-icon.png"/>

</head>
<body>

	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<%include includes/header%>
	<!-- Header section end -->

	<!-- Hero section -->
	<!-- <section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="img/bg.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="img/bg-2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section> -->
	<!-- Hero section end -->

	<!-- Index section -->
	<section class="_index">
		<div class="_header"></div>
		<div class="_wrapper">
			<div class="_image-wrapper" id="">
				<img src="img/outdoor-bg-1.jpg" alt="Biirii Africa - The best of African Fashion">
			</div>
			<div class="_content">
				<div class="_splash">
					<h3>Welcome to <span>Biirii</span></h3>
					<p>Explore African fashion online</p>
				</div>
				<div class="_generic-btns">
					<a href="/store/women"><span>Women</span></a>
					<a href="/store/men"><span>Men</span></a>
				</div>
			</div>
		</div>
	</section>
	<!-- Index section end -->


	<!-- Footer component start -->
	<%include includes/footer%>
	<!-- Footer component end -->


	<!-- Promo -->
	<% if (promo) { -%>
	<!-- Modal -->
	<div class="modal fade" id="promoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">

	      <div class="modal-body" align="center">
	        <img src="/img/promo/<%=promo.img %>">
	      </div>

	    </div>
	  </div>
	</div>
	<% } -%>

	<style>
		@keyframes fades {
		0% {opacity: 0;}
		10% {opacity: 1;}
		}

/*		._image-wrapper img{
			animation: fades 5s ease-in-out infinite;
		}*/
	</style>


	<script>

  		setTimeout(()=>{
        		$('#promoModal').modal('show'); 
    	}, 3000);

		window.onload = ()=>{
			let i = 2;
			setInterval(()=>{
				i++
				if(i > 4 ){ i = 1};
				document.querySelector("._image-wrapper img").setAttribute("src",`img/outdoor-bg-${i}.jpg`)
			}, 5000)
		}
	</script>

	</body>
</html>
