<!DOCTYPE html>
<html lang="zxx">
<head>
<%include includes/metaMain%>

<style>
    .breadcrumb{
        background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("img/bg-2.jpg");
        background-position: center;
        background-size: cover;
		background-repeat: no-repeat;
		border-radius: 0;
    }

    .breadcrumb h2{
        color: #dddddd;
    }

	._main{
		list-style: decimal inside;
		line-height: 1.6;
		text-align: justify;
	}
	._main > li {
		font-size: 20px;
		margin: 0 0 20px;
	}
	._main li{
		color: #585858;
	}

	._main p {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 0.3rem;
		color: #585858;
	}

	.sub-heading{
		font-size: 22px;
		font-weight: 600;
		display: inline;
	}

	._subList{
		list-style: inside lower-latin;
		font-size: 18px;
		font-weight: 400;
	}

	._subList li{
		margin-bottom: .5rem;
	}

</style>

</head>
<body>
	<!-- Page Preloder -->
<!-- 	<div id="preloder">
		<div class="loader"></div>
	</div> -->

	<!-- Header section -->
	<%include includes/header%>
	<!-- Header section end -->


	<!-- Hero section -->
	<!-- <section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="img/bg.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="img/bg-2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section> -->
	<!-- Hero section end -->

	<!-- Index section -->
	<section class="_index">
		<div class="breadcrumb">
			<div class="container">
				<h2>PRIVACY POLICY</h2>
			</div>
		</div>

		<!-- Content -->
		<div class="container">
			<ul class="_main">
				<li>
					<h3 class="sub-heading">Introduction</h3>
					<p><b>BIIRII AFRICA</b> (“BIIRII” “We”, “Us” “Our”) is sensitive to your concerns about how we use the personal information we collect from you and about you. Being firmly committed to protecting and respecting your privacy, we have implemented this privacy policy (the "Privacy Policy") as well as a Data Protection Policy and other internal policies and practices to keep your personal and financial information secure. The Privacy Policy covers BIIRII's treatment of the Personally Identifiable Information we collect from you and about you. It also describes the choices available to you regarding our use of your personal information and how you can access and update this information. This Privacy Policy is incorporated into our Terms of Use and therefore governs your use of our Online Services and our app.</p>
				</li>
	
				<li>
					<h3 class="sub-heading">Obligations under NDPR</h3>
					<p>As Data Controller, the <b>Nigeria Data Protection Regulation, (NDPR) 2019</b> obligates us to ensure the personal data we collect from you are:</p>
					<ul class="_subList">
						<li>processed lawfully, fairly and in a transparent manner consented to by you.</li>
						<li>collected for specified, explicit and legitimate purposes and not further processed in a manner that is incompatible with those purposes; further processing for achieving purposes in the public interest, scientific or historical research purposes or statistical purposes shall not be considered to be incompatible with the initial purposes.</li>
						<li>adequate, relevant and limited to what is necessary in relation to the purposes for which they are processed.</li>
						<li>accurate and, where necessary, kept up to date; every reasonable step must be taken to ensure that your personal data that are inaccurate, having regard to the purposes for which they are processed, are erased or rectified without delay.</li>
						<li>kept in a form which permits identification of your data for no longer than is necessary for the purposes for which your personal data are processed.</li>
						<li>processed in a manner that ensures appropriate security of the personal data, including protection against unauthorized or unlawful processing and against accidental loss, destruction or damage, using appropriate technical or organizational measures.</li>
					</ul>
				</li>
	
				<li>
					<h3 class="sub-heading">Information we collect from you</h3>
					<p>We will collect and procss the following data about you:</p>
					<ul class="_subList">
						<li><b>Information you give us:</b> BIIRII requires each customer to provide us with personal information (collectively "Personally Identifiable Information") to access and use BIIRII products and services. Personally Identifiable Information is captured when a visitor accesses Online or app Services, or speaks on the phone with a BIIRII employee, and willingly discloses that information. This disclosure may occur when a visitor registers with an Online Service, engages in transactions, contacts customer service, content submissions, requests for suggestions, or other aspects of services offered by BIIRII. <br>Personally Identifiable Information includes but is not limited to: (i) "Contact Data" (such as your name, address, city, state, zip code, phone number, and email address) (ii) "Financial Data" (such as your bank account information) (iii) "Demographic Data" (such as your zip code and sex) and (iv) other "Legal Data".</li>
						<li><b>Information we collect about you.</b> With regard to each of your visits to our Website we will automatically collect the following information: technical information, including the Internet protocol (IP) address used to connect your computer to the Internet, your login information, browser type and version, time zone setting, browser plug-in types and versions, operating system and platform; and information about your visit, including the full Uniform Resource Locators (URL), clickstream to, through and from our Website (including date and time), products you viewed or searched for, page response times, download errors, length of visits to certain pages, page interaction information (such as scrolling, clicks, and mouse-overs), methods used to browse away from the page, and any phone number used to call our customer service number</li>
					</ul>
					<p>If you are not a BIIRII customer but believe that BIIRII has your personal information that you would like to be deleted, please contact us at help@biiriiafrica.com.  If you are a BIIRII customer, please refer to the section “Accessing and Changing Your Account” for information about accessing and deleting your account.</p>
				</li>
	
				<li>
					<h3 class="sub-heading">Cookies</h3>
					<p>Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer’s hard drive. We use “cookies” to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
				</li>
	
				<li>
					<h3 class="sub-heading">Service providers</h3>
					<p>We may employ third party companies and individuals to facilitate our Service, to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used. These third parties have access to your Personal Information only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>
				</li>

				<li>
					<h3 class="sub-heading">Third party marketing</h3>
					<p>Unless specifically authorized by you, we do not provide Personally Identifiable Information to third parties for their marketing purposes. If you express interest in a third-party offer, we may provide your Personally Identifiable Information to that third party solely in connection with the offer you have selected.  In addition to sharing your Contact Data, we may also share details regarding your purchase from BIIRII, as well as your Financial, Demographic, or Legal Data with these third parties.  If you later decide to opt-out from allowing BIIRII to share your Personally Identifiable Information with third parties for their marketing purposes, you may do so by contacting Customer Care at help@biiriiafrica.com  To the extent that BIIRII has already shared your Personally Identifiable Information with third parties for their marketing purposes prior to your decision to opt-out, you may opt out from future marketing by contacting the Third Parties directly.</p>
				</li>

				<li>
					<h3 class="sub-heading">Our security practices</h3>
					<p>You should read the security tips and updates on our websites regularly to make sure that you benefit from our security systems, and stay updated with the latest fraud scams and trends. Our security systems are designed to prevent loss, unauthorized destruction, damage and/or access to your personal information from unauthorized third parties.</p>
					<p>You should safeguard your unique User ID and Password by keeping it secret and confidential. Never write them down or share these details with anyone. In the event that you think and or know your User ID and/or password has been disclosed to a third party, is lost or stolen and unauthorized transactions may have been conducted, you are responsible to inform us immediately.</p>
				</li>

				<li>
					<h3 class="sub-heading">Third-party websites/links</h3>
					<p>Our website may from time to time, contain links to and from the websites of our partner networks and affiliates. Our service connects you to different websites. If you follow a link to any of these websites or use our service, please note that you have left our website and these websites have their own privacy policies. We do not accept any responsibility or liability for these policies or websites. Please check these policies before you submit any personal data to these websites.</p>
				</li>

				<li>
					<h3 class="sub-heading">Compliance with laws</h3>
					<p>We will disclose your Personal Information where required to do so by law or subpoena or if we believe that such action is necessary to comply with the law and the reasonable requests of law enforcement or to protect the security or integrity of our Service.</p>
				</li>

				<li>
					<h3 class="sub-heading">Changes to our privacy policy</h3>
					<p>Any changes we make to our privacy policy in the future will be posted on this page. Please check back frequently to see any updates or changes to our privacy policy.</p>
				</li>

				<li>
					<h3 class="sub-heading">Contact</h3>
					<p>Questions, comments and requests regarding this privacy policy are welcomed and should be address to <a href="mailto:help@biiriiafrica.com">help@biiriiafrica.com</a></p>
				</li>
			</ul>
		</div>
	</section>
	<!-- Index section end -->


	<!-- Footer component start -->
	<%include includes/footer%>
	<!-- Footer component end -->

	</body>
</html>
