<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
   <% include includes/metaMain %>
</head>




<body>
		<div class="container checkout" align="center">
			<div>
				<img src="/images/logo.png" alt="VitaFruity" width="100">
			</div>

			<div>
				Order was successful
				<br>
				Your order number is 
				<h1 id="pNum"><%=orderKey%></h1>
			</div>

			<div>
				<a href="/online-store"><h5>Continue shopping </h5></a>
			</div>

			<div>
				Call: +234 703 615 6974 | Email: askvitafruity@gmail.com.ng 
			</div>
		</div>


</body>
</html>