<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
   <% include includes/metaMain %>
</head>

<body>

<style type="text/css">
	.main-content {
		margin-top: 20vh;
	}
</style>

		<div class="container main-content" align="center">
			<div>
				<img src="/img/logo-black.png" alt="Biirii" width="100">
			</div>

			<br>

			<div>
				Order was successful. Your order number is 
				<h1 id="pNum"><%=orderKey%></h1>

				<p><h3>Thank you for shopping with Biirii</h3></p>
			</div>

			<div>
				<a href="/store" onclick="window.close
				..()"><h5 style="color: blue">Continue shopping </h5></a>
			</div>

			<div>
				Call: +234 709 533 3336 | Email: sales@biiriiafrica.com
			</div>

			<div>
				<b>NOTE:</b>  Please check your spam box if you cant find the mailed receipt
			</div>
		</div>
</body> </html>