<!DOCTYPE html>
<html lang="zxx">
<head>
<%include includes/metaMain%>
</head>

<style>
	.breadcrumb{
		padding: 20px 0;
	}
	h2{
		font-size: 22px;
	}
	h3{
		padding: 10px 0;
		font-size: 18px;
	}
	h4{
		font-size: inherit;
	}
	ul{
		list-style: inside;
	}
</style>

<body>
	<!-- Page Preloder -->
	<!-- <div id="preloder">
		<div class="loader"></div>
	</div>
 -->
	<!-- Header section -->
	<%include includes/header%>
	<!-- Header section end -->


	<!-- Hero section -->
	<!-- <section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg" data-setbg="img/bg.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="img/bg-2.jpg">
				<div class="container">
					<div class="row">
						<div class="col-xl-6 col-lg-7 text-white">
							<span>New Arrivals</span>
							<h2>denim jackets</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
							<a href="#" class="site-btn sb-line">DISCOVER</a>
							<a href="#" class="site-btn sb-white">ADD TO CART</a>
						</div>
					</div>
					<div class="offer-card text-white">
						<span>from</span>
						<h2>$29</h2>
						<p>SHOP NOW</p>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section> -->
	<!-- Hero section end -->

	<!-- Index section -->
	<section class="_index">
		<div class="breadcrumb">
			<div class="container">
				<h2>RETURN POLICY</h2>
			</div>
		</div>

		<div class="container">
			<div>
				<p>At BIIRII returns for Items that meets our requirements are as Easy as ABC within a 7day window. To Return a product purchased from Biirii.com simply reach us through any of our customer service channels and we promise we will resolve the issue in record time.</p>
			</div>


			<h2>How To Return</h2>
			<div>
				
				<h3>Step 1</h3>
				<p>Send a Return-Claim not later than seven (7) days of the receipt of the item As part of your claim, please insure you attach a product picture as evidence to <a href="mailto:help@biirii.com">help@biirii.com</a> and we will revert in less than 48hours</p>
			</div>


			<div>
				<h3>STEP 2:</h3>
				<h4>Return after Approval</h4>
				<p>After the Quality Control team reviews and approves your return-claim, you will receive adequate information on how to send the item to any of our offices.</p>
			</div>

			<div>
				<h3>STEP 4:</h3>
				<h4>Return Claim Close-Out</h4>
				<p>Once BIIRII confirms the Item has been received, Biirii Will work with the Vendor to resolve the Return-Claim.</p>
								
			</div>

			<div>
				<h3>Items not eligible for Returns</h3>
				<ul>
					<li>Any product altered by anyway will not be accepted for return</li>
					<li>Products Damaged due to customer’s negligence during handling.</li>
					<li>All beauty, health and personal care products are ineligible for Return.</li>
					<li>Jewelry, Under Garments including but not limited to socks are not eligible for return.</li>
				</ul>
			</div>
			
		</div>
	</section>
	<!-- Index section end -->


	<!-- Footer component start -->
	<%include includes/footer%>
	<!-- Footer component end -->

	</body>
</html>
