<!DOCTYPE html>
<html lang="zxx">
<head>
<%include includes/metaMain%>
 <meta name="description" content="Shop for fashion wears on Biirii Africa">
<!-- Facebook and Twitter integration -->
<meta property="og:title" content="Biirii Africa Store"/>
<meta property="og:image" content="/apple-touch-icon.png"/>
<meta property="og:type" content="product.group"/>


</head>
<body>
	

	<style type="text/css">
	.feature:nth-child(2) {
	    /*//background: #114ff5;*/
	}		
	</style>
	<!-- Page Preloder -->
<!-- 	<div id="preloder">
		<div class="loader"></div>
	</div> -->

	<!-- Header section -->
	<%include includes/header%>
	<!-- Header section end -->



	<!-- Features section -->
	<section class="features-section">
		
	</section>
	<!-- Features section end -->


			<div class="section-title">
				<p><h3>Results for "<i><%=query %></i>"</h3></p>
			</div>

	<!-- Product filter section -->
	<%include components/productList%>
	<!-- Product filter section end -->


	<!-- Banner section -->
<!-- 	<section class="banner-section">
		<div class="container">
			<div class="banner set-bg" data-setbg="img/banner-bg.jpg">
				<div class="tag-new">NEW</div>
				<span>New Arrivals</span>
				<h2>STRIPED SHIRTS</h2>
				<a href="#" class="site-btn">SHOP NOW</a>
			</div>
		</div>
	</section> -->
	<!-- Banner section end  -->





	<!-- Footer component start -->
	<%include includes/footer%>
	<!-- Footer component end -->


<script type="text/javascript">
    	// This javascript section activates the AOS library (aos.js) 
      AOS.init({
        easing: 'ease-in-out-sine'
      });
</script>

	</body>
</html>
