  <div class="search-bar">
        <form action="/online-store/search">
            <input type="text" name="s" placeholder="SEARCH PRODUCTS">
            <button class="fa fa-search"></button>
        </form>
    </div>		