/* 
* This is a... I don't know, it's just a CSS page.
*
*/

/* .head-container{
    overflow: hidden;
} */

body, html{
    overflow-y: auto;
}

.header-container{
    background: rgb(45, 45, 45);
    color: rgb(255,255,255);
    overflow: hidden;
}
.header-container .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    max-width: 1175px;
    margin: 0 auto;
}
.header-container > .container > * {
    padding: 10px;
}
.logo a{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    width: 150px;
}
.logo span {
	display: inline-block;
	font-size: 30px;
	font-weight: 500;
	color: #ffffff;
	margin-left: 5px;
	margin-top: 5px;
	line-height: 1;
}
.header-container .gender-tags {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.gender-tags div {
    padding: 20px;
    font-size: 32px;
    border: .5px solid rgb(82, 80, 80);
    border-top: none;
    border-bottom: none;
    width: 150px;
    text-align: center;
}

.gender-tags div.active{
    background: rgb(82, 80, 80);
}

.showonmobile{
    display: none;
}

.menu-bar {
    font-size: 25px;
    color: white;
    line-height: 0.5;
    height: 20px;
    cursor: pointer;
}

.search-form input[type="text"] {
    border: none;
    width: 100%;
    background: transparent;
    color: inherit;
}

.search-form button {
    background: transparent;
    border: none;
    outline: none;
    font-weight: 700;
    color: inherit;
    font-size: x-large;
}

.search-form form {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: rgb(45, 45, 45);
    line-height: 1.5;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 20px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.search-form input::placeholder{
    color: inherit;
}

.cart a{
    font-size: 30px;
    color: inherit;
}

span#cart-value {
    font-size: 13px;
    position: absolute;
    top: 0;
    right: -10px;
    border-radius: 50%;
    color: rgb(249, 119, 112);
}

.cart-value {
    position: relative;
    display: inline-block;
}

.cart span {
    font-size: 16px;
    margin-left: -5px;
}

/* Navigation */
div.navigation{
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
}
nav {
    width: 100%;
    background: rgb(82, 80, 80);
}
.main-menu{
    text-align: center;
}
.main-menu li {
    padding: 0 20px;
    text-transform: capitalize;
}
.main-menu li a {
    font-size: 14px;
    margin: auto;
}

/* carousel */
.hs-item.set-bg::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}
.hero-slider .hs-item .container {
    position: relative;
    padding-top: 170px;
    z-index: 2;
}

/* The first index page */
._image-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

._wrapper {
    height: 90vh;
    position: relative;
}

._image-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center 20%;
}

._image-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000 /*#0000008a*/;
    opacity: 0.5;
    color: black;
 }

._content {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,0%);
    max-width: 80%;
}

._splash {
    text-align: center;
}

._splash h3, ._splash p {
    color: #dee2e6;
}

._generic-btns{
    text-align: center;
}

._generic-btns a {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px 20px;
    text-align: center;
    width: 150px;
    border: 1px solid #cee;
    border-radius: 10px;
    background: #443034;
    color: #ebebeb;
    font-size: 26px;
}

@media only screen and (max-width: 990px){
    .hideonmobile{
        display: none !important;
    }
}

@media only screen and (max-width: 767px){
    .showonmobile{
        display: block;
    }
    .search-form form{
        width: auto;
        padding: 0;
        border: none;
        background: transparent;
        color: inherit;
    }
    .search-form form input{
        display: none;
    }
    .search-form:focus-within{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #252424c7;
        overflow: hidden;
        z-index: 9;
        padding: 10px;
    }
    .search-form:focus-within form{
        border: 1px solid #fdfdfd;
        padding: 5px 10px;
        background: #383838;
    }
    .search-form:focus-within input{
        display: block;
    }
    ._content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 80%;
    }
}
@media only screen and (max-width: 367px){
    .logo a span{
        display: none;
    }
}
