/*
* This is the CSS for the navigation bar and side-bar
* 
*/

/* Navigation tabs */
.tab-panel{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: calc(100% - 150px);
}
.tab{
    display: none;
    width: 100%;
    max-width: 1300px;
    padding: 0 32px;
    margin: 0 auto;
    box-sizing: border-box;
}
ul.sub-menu{
    display: flex;
    align-items: stretch;
    padding: 24px 10px;
    position: relative;
    background-color: #eee;
    z-index: 1200;
    transition: min-height .2s ease-in-out;
    -webkit-transition: min-height .2s ease-in-out;
    -moz-transition: min-height .2s ease-in-out;
    -ms-transition: min-height .2s ease-in-out;
    -o-transition: min-height .2s ease-in-out;
}
ul.sub-menu ul{
    list-style: none;
}
ul.sub-menu > li{
    display: inline-block;
    box-sizing: border-box;
    line-height: 2.14;
}
._tabs{
    box-sizing: border-box;
    padding: 0 20px;
    border-right: 1px solid #d6d6d6;
}
._tabs:last-child{
    border-right: none;
}
._main{
    flex: 2;
}
._sub{
    flex: 1;
}
.tab a{
    color: #828282;
}
._main > ul{
    display: inline-block;
    width: 50%;
    float: left;
    list-style: none;
    box-sizing: border-box;
    vertical-align: top;
}
ul.sub-menu h2{
    padding-bottom: 5.5px;
    margin-bottom: 12px;
    letter-spacing: 2px;
    font-size: 18px;
    text-decoration: underline;
}
._tabs a{
    font-size: 16px;
}
._sub ._flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}
._range{
    width: 50%;
    text-align: center;
}
._range a{
    text-align: center;
}
.sub-menu a:hover{
    color: blue;
}
._range div{
    border: 1px solid;
    border-radius: 50%;
    display: block;
    max-width: 86px;
    max-height: 86px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0 auto;
}

/* Side-Bar */
.side-bar{
    position: fixed;
    width: 100%;
    background: #000000b5;
    z-index: 12000;
    top: 0;
    left: -100%;
    transition: .6s ease;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -ms-transition: .6s ease;
    -o-transition: .6s ease;
}
.side-bar.open{
    left: 0;
}
.side-bar .cancel{
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 5%;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.side-bar aside{
    position: relative;
    max-width: 460px;
    width: 85%;
    min-width: auto;
    height: 100vh;
    overflow: hidden;
    background: #d6d6d6;
}
/* ._floor{
    width: 100%;
    height: 50px;
    display: inline-flex;
    vertical-align: top;
}
._floor-tag{
    width: 50%;
    position: relative;
    display: inline-block;
    vertical-align: baseline;
}
._floor-tag:not(:last-of-type):after {
    content: "";
    top: 50%;
    right: 0;
    margin-top: -10px;
    position: absolute;
    height: 20px;
    width: 1px;
    background-color: rgba(45,45,45,.1);
}
._floor-tag span{
    height: 49px;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #999;
    letter-spacing: 2px;
    font-weight: 900;
    background-color: #fff;
    border-style: none;
    cursor: pointer;
    padding: 0;
    line-height: 50px;
    box-sizing: border-box;
} */
.container-logo{
    background: #ffffff;
    padding: 6px 15px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-container img{
    margin-right: 5px;
}
.logo-container span{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}
.panel-container{
    max-height: 90vh;
    overflow-y: auto;
}
._panel{
    padding: 16px 16px 0;
    width: 100%;
    background: #fff;
    list-style: none;
    box-sizing: border-box;
}
._panel li{
    display: block;
    padding-bottom: 16px;
    box-sizing: border-box;
}
._panel a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 78px;
    background: #b1aeaf;
}
._panel li a div{
    width: 50px;
    height: 78px;
}
._panel li a div img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
._panel p {
    margin: 0;
    padding-left: 12px;
    width: 140px;
    color: #2d2d2d;
}

/* Gender Data tab */
.extend-data {
    position: absolute;
    left: 120%;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: white;
    transition: .6s ease;
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -ms-transition: .6s ease;
    -o-transition: .6s ease;
}
.extend-data.open{
    left: 0;
}
.top_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 15px;
    background: #ffffff;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #d4d4d4;
}
.back{
    display: inline-block;
}
.back span::before{
    margin-right: 5px;
}
.heading{
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

/*Currency Converter*/
li.currency{
    float: left;
    margin-top: 10px;
    padding: 0;
}
.currency-wrapper{}
.currency-converter{
    padding: 5px 10px;
    box-shadow: 0 0 3px 1px #b5b5b5a1;
    border: none;
    outline: none;
    height: 40px;
    background: transparent;
    color: inherit;
}

@media only screen and (min-width: 768px){
    .side-bar{
        display: none;
    }
    .currency-converter{
        height: 30px;
        box-shadow: 0 0 1px 1px #838282;
    }
}